*.iml
.gradle
/local.properties
/.idea
/.scannerwork
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
report.xml
settings/reports
app/src/main/res/values/com_crashlytics_export_strings.xml
/buildSrc/.gradle
/buildSrc/build
